# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/소스.cpp
/Mathlib.vcxproj.user
/Mathlib.vcxproj.filters
/Mathlib.vcxproj
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/Mathlib.tlog/unsuccessfulbuild
/Debug/Mathlib.tlog/Mathlib.lastbuildstate
/Debug/Mathlib.tlog/link.write.1.tlog
/Debug/Mathlib.tlog/link.read.1.tlog
/Debug/Mathlib.tlog/link.command.1.tlog
/Debug/Mathlib.tlog/CL.command.1.tlog
/Debug/Mathlib.log
/Debug/Mathlib.tlog/CL.write.1.tlog
/Debug/Mathlib.tlog/CL.read.1.tlog
